body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

li {
    text-decoration: none;
    list-style: none;
}

#label-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 2em;
    padding: 1.3em 1em;
    background-color: #616260;
    border-radius: 2em;
    font-size: 2em;
    font-weight: 500;
}

#label-list li {
    margin-top: 0.8em;
}

#label-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/* CONTROLLED IN JS */
.label-numbers input {
    padding-left: 1em;
    margin-left: 1em;
    width: 17em;
    height: 2em;
    border-radius: 1em;
    border: none;
    font-size: 0.8em;
    background-color: #eaeaea;
}

.label-numbers span {
    display: inline-block;
    padding: 0.3em;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    background-color: #eaeaea;
    width: 1.2em;
    border-radius: 1em;
}
