/**===========================================================================*/
/** GENERAL ==================================================================*/
/**===========================================================================*/
body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

li {
    text-decoration: none;
    list-style: none;
}

/**===========================================================================*/
/** LABELS ===================================================================*/
/**===========================================================================*/
#label-name-input {
    width: 100%;
    border: none;
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: 700;
}

#label-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#output-img {
    display: block;
    margin: 3em auto;
    width: 100px;
}
/**===========================================================================*/
/** CONTROLLED IN JS =========================================================*/
/**===========================================================================*/

.label-input {
    margin-top: 1em;
    margin-right: 2em;
}

#label-container input {
    padding-left: 1em;
    margin-left: 1em;
    width: 20em;
    height: 2em;
    border-radius: 1em;
    border: none;
    font-size: 0.8em;
    background-color: #eaeaea;
}

#label-container span {
    display: inline-block;
    padding: 0.3em;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    background-color: #eaeaea;
    width: 1.2em;
    border-radius: 1em;
}

/*! =============================================================================*/
/*! FIREFOX STYLES ==============================================================*/
/*! ============================================================================ */

@-moz-document url-prefix() {
    #label-list {
        width: 100%;
    }

    #label-container {
        width: 100%;
        display: flex;
        /* flex-flow: row wrap; */
        /* justify-content: center; */
        margin-right: 5em;
    }
}
