/**===========================================================================*/
/** GENERAL ==================================================================*/

*:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

li {
    text-decoration: none;
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
    color: #50514f;
    font-weight: 500;
}

a:hover {
    color: #333;
    font-weight: 700;
    transition: all 0.3s;
}

button {
    cursor: pointer;
}

/** END OF GENERAL ===========================================================*/
/**===========================================================================*/

/**===========================================================================*/
/** HEADER ===================================================================*/
header {
    display: block;
    background: url(img/Header.png) no-repeat;
    width: auto;
    height: 16em;
    padding: 4% 5%;
}

#logo {
    width: 12em;
}

/** Header Upper section ======================================================*/
header div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
}
/** Header Lower section ======================================================*/
header > div:last-of-type {
    display: flex;
    flex-direction: column;
    color: #616260;
    font-weight: 700;
}

#header-title-bottom {
    font-size: 5em;
    color: #f25f5c;
}

/** END OF HEADER =============================================================*/
/**===========================================================================*/

/**===========================================================================*/
/** MAIN SECTION =============================================================*/
main {
    padding: 4% 5%;
    background-color: #50514f;
    color: #eaeaea;
}

/** Main Upper Section ========================================================*/
main > div:first-child {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/** Circuit Breaker Quantity Text ==============================================*/
main > div:first-child > label:first-child {
    font-size: 2em;
    font-weight: 700;
}

#breaker-quantity {
    padding-left: 0.8em;
    margin-left: 0.8em;
    height: 2.2em;
    width: 3em;
    font-size: 1.2em;
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #eaeaea;
    color: #50514f;
    border-radius: 0.4em;
    border: none;
}

#set-btn {
    padding: 0.5em;
    margin-right: 13em;
    margin-left: 0.5em;
    width: 5em;
    font-weight: 700;
    font-size: 1.2em;
    background-color: #f25f5c;
    color: #eaeaea;
    border: none;
    border-radius: 0.4em;
}

#set-btn:hover {
    background-color: #e23937;
    color: #333;
    box-shadow: 0 8px 6px -6px #3a3a3a;
    cursor: pointer;
    transition: background-color 0.5s;
}

/** Import File Button==============================================*/
#import-btn {
    display: grid;
    grid-template-columns: 4em 3em 5em;
    /* grid-template-rows: 1em 1em; */
    padding: 0.4em;
    width: 12em;
    font-weight: 700;
    font-size: 1.2em;
    background-color: #f25f5c;
    color: #eaeaea;
    border: none;
    border-radius: 0.4em;
}

#import-btn label {
    grid-column: 1 / 3;
    grid-row: 1;
    color: #3a3a3a;
    font-size: 0.7em;
    font-weight: 700;
    /* text-align: center; */
}

#import-btn-img {
    grid-column: 3;
    grid-row: 1 / 3;
    align-self: center;
    place-self: center;
    padding: 0.5em;
    max-width: 4em;
}

/**===========================================================================*/
/** PRINT SECTION ============================================================*/

#actions-print-btn {
    padding: 0.5em;
    width: 5em;
    font-weight: 700;
    font-size: 1.2em;
    background-color: #eaeaea;
    color: #333;
    border-radius: 0.4em;
    border: none;
}

#actions-print-btn:hover {
    background-color: #f25f5c;
    color: #eaeaea;
    transition: background-color 0.7s;
}

#actions-print-btn:active {
    transform: translateY(4px);
}

#output-img {
    display: none;
}

/** END OF PRINT SECTION =====================================================*/
/**===========================================================================*/

#label-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 2em;
    padding: 1.3em 1em;
    background-color: #616260;
    border-radius: 2em;
    font-size: 2em;
    font-weight: 500;
    text-align: right;
}

#label-list li {
    margin-top: 0.8em;
}

#label-list div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 1em;
}

#label-list div:first-child input {
    padding: 0.3em;
    text-align: center;
    font-size: 1em;
    border-radius: 0.9em;
    border: none;
}

#label-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/** END OF MAIN SECTION ======================================================*/
/**===========================================================================*/

/**===========================================================================*/
/** FOOTER ===================================================================*/
footer {
    height: 3em;
    padding-top: 2em;
    background-color: #eaeaea;
    text-align: center;
    font-size: 0.8em;
}

/** CONTROLLED IN JS ==========================================================*/
.label-numbers {
    padding-left: 0;
}

.label-numbers input {
    padding-left: 1em;
    margin-left: 1em;
    width: 17em;
    height: 2em;
    border-radius: 1em;
    border: none;
    font-size: 0.8em;
    background-color: #eaeaea;
}

.label-numbers span {
    display: inline-block;
    padding: 0.3em;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    background-color: #50514f;
    width: 1.2em;
    border-radius: 1em;
}

/**===========================================================================*/
/** FORM (Contact Us) ========================================================*/

form {
    display: flex;
    justify-content: space-between;
}

#form-fields {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    text-transform: capitalize;
}

#form-fields > div {
    margin: 0.9em 1em 0 0;
}

#form-fields > div input {
    width: 22em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 1.5em;
    font-size: 1em;
}

#form-fields label {
    margin-right: 0.6em;
}

#email-container > input {
    margin-left: 2.5em;
}

#form-textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 52%;
    margin-top: 0.9em;
}

#form-textarea > textarea {
    width: 100%;
    height: 6.6em;
    resize: none;
    padding: 1em;
    border: none;
    border-radius: 1em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

#form-textarea > input {
    font-size: 1em;
    font-weight: 600;
    width: 6em;
    padding: 0.8em;
    margin-top: 1em;
    border: none;
    border-radius: 0.8em;
}

#form-textarea > input:hover {
    background-color: #f25f5c;
    color: #eaeaea;
    transition: background-color 0.7s;
}

/** ===========================================================================*/
/** ===========================================================================*/
/** MEDIA QUERIES */
/** ===========================================================================*/

@media only screen and (max-width: 430px) {
    header {
        height: 8em;
    }
    #logo {
        width: 8em;
    }

    #contact-link {
        font-size: 0.8em;
    }
    header > div:first-child {
        margin-bottom: 2em;
    }
    header > div:last-of-type > span {
        font-size: 0.8em;
    }

    #header-title-bottom {
        font-size: 2.2em;
    }

    main > div:first-child {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    main > div:first-child > label:first-child {
        font-size: 1.47em;
    }

    #breaker-quantity {
        /* height: 2em; */
        width: 5em;
        margin: 1em 0.2em 1em 0;
        text-align: center;
    }

    #set-btn {
        height: 2.6em;
        width: 14em;
        margin: 1em 0 1em 0;
        padding: 0 0.2em;
        font-size: 1em;
    }

    #import-btn {
        height: 1.9em;
        width: 11em;
        padding: 0.2em 0.4em;
    }

    #label-list > div:first-child {
        height: auto;
        margin: 0;
        padding: 0;
    }

    #label-list {
        margin-top: 0.8em;
        padding: 0;
        border-radius: 0.4em;
    }

    #label-list div:first-child input {
        height: 1em;
        width: auto;
        margin: 0.5em 0.4em;
        border-radius: 0.4em;
        font-size: 0.8em;
    }

    #label-container {
        margin-top: 0;
    }

    #label-container > li {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .label-numbers span {
        font-size: 0.8em;
        padding: 0.1em;
        margin: 0;
    }

    .label-numbers input {
        height: 1.5em;
        width: 75%;
        margin-left: 0;
        font-size: 0.7em;
    }

    footer {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 800px) {
    main > div:first-child > label:first-child {
        font-size: 1.47em;
    }

    #set-btn {
        margin-right: 3em;
    }

    #import-btn {
        height: 1.9em;
        width: 10em;
        margin-right: 1em;
        padding: 0.2em 0.4em;
    }

    main > div:first-child > label:first-child {
        font-size: 1.4em;
    }

    #label-container > li {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .label-numbers span {
        margin: 0;
    }

    .label-numbers input {
        margin-left: 0;
        width: 80%;
    }
}
