/**===========================================================================*/
/** GENERAL ==================================================================*/

*:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

li {
    text-decoration: none;
    list-style: none;
}

/** END OF GENERAL ===========================================================*/
/**===========================================================================*/

/**===========================================================================*/
/** HEADER ===================================================================*/
header {
    display: block;
    background: url(img/Header.png) no-repeat;
    width: auto;
    height: 16em;
    padding: 4% 5%;
}

#logo {
    width: 12em;
}

/** Header Upper section ======================================================*/
header div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
}
/** Header Lower section ======================================================*/
header > div:last-of-type {
    display: flex;
    flex-direction: column;
    color: #616260;
    font-weight: 700;
}

#header-title-bottom {
    font-size: 5em;
    color: #f25f5c;
}

.social-icon {
    width: 2em;
    margin-left: 2em;
}
/** END OF HEADER =============================================================*/
/**===========================================================================*/

/**===========================================================================*/
/** MAIN SECTION =============================================================*/
main {
    padding: 4% 5%;
    background-color: #50514f;
    color: #eaeaea;
}

/** Main Upper Section ========================================================*/
main > div:first-child {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/** Circuit Breaker Quantity Text ==============================================*/
main > div:first-child > label:first-child {
    font-size: 2em;
    font-weight: 700;
}

#breaker-quantity {
    padding-left: 0.8em;
    margin-left: 0.8em;
    height: 2.2em;
    width: 3em;
    font-size: 1.2em;
    font-weight: 700;
    appearance: none;
    background-color: #eaeaea;
    color: #50514f;
    border-radius: 0.4em;
}

#set-btn {
    padding: 0.5em;
    margin-right: 13em;
    margin-left: 0.5em;
    width: 5em;
    font-weight: 700;
    font-size: 1.2em;
    background-color: #f25f5c;
    color: #eaeaea;
    border: none;
    border-radius: 0.4em;
}

#set-btn:hover {
    background-color: #e23937;
    color: #333;
    border: 1px solid #f25f5c;
    -webkit-box-shadow: 0 8px 6px -6px #3a3a3a;
    -moz-box-shadow: 0 8px 6px -6px #3a3a3a;
    box-shadow: 0 8px 6px -6px #3a3a3a;
    cursor: pointer;
    transition: color 0.5s;
}

/** Import File Button==============================================*/
#import-btn {
    display: flex;
    flex-direction: column;
    padding: 0.3em 0.8em;
    width: 11em;
    font-weight: 700;
    font-size: 1.2em;
    background-color: #4593fa;
    color: #eaeaea;
    border: none;
    border-radius: 0.4em;
}

#import-btn label {
    color: #3a3a3a;
    font-size: 0.7em;
    font-weight: 700;
}

/* #import-btn:hover {
    background-color: #2965b3;
    border: 1px solid #3a71b8;
    -webkit-box-shadow: 0 8px 6px -6px #3a3a3a;
    -moz-box-shadow: 0 8px 6px -6px #3a3a3a;
    box-shadow: 0 8px 6px -6px #3a3a3a;
    cursor: pointer;
    transition: color 0.5s;
} */

/**===========================================================================*/
/** PRINT AND EMAIL SECTION ==================================================*/
#actions > ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#actions-email-btn {
    margin-left: 2em;
}

.actions-btn {
    cursor: pointer;
}

.actions-btn:hover {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4)) brightness(2);
    fill: #f25f5c;
    transition: all 0.7s;
}

#output-img {
    display: none;
}

/** END OF PRINT AND EMAIL SECTION ===========================================*/
/**===========================================================================*/

#label-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 2em;
    padding: 1.3em 1em;
    background-color: #616260;
    border-radius: 2em;
    font-size: 2em;
    font-weight: 500;
    text-align: right;
}

#label-list li {
    margin-top: 0.8em;
}

#label-list div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 1em;
}

#label-list div:first-child input {
    padding: 0.3em;
    text-align: center;
    font-size: 1em;
    border-radius: 0.9em;
    border: none;
}

#label-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/** END OF MAIN SECTION ======================================================*/
/**===========================================================================*/

/**===========================================================================*/
/** FOOTER ===================================================================*/
footer {
    height: 3em;
    padding-top: 2em;
    background-color: #eaeaea;
    text-align: center;
    font-size: 0.8em;
}

/** CONTROLLED IN JS ==========================================================*/
.label-numbers {
    padding-left: 0;
}

.label-numbers input {
    padding-left: 1em;
    margin-left: 1em;
    width: 17em;
    height: 2em;
    border-radius: 1em;
    border: none;
    font-size: 0.8em;
    background-color: #eaeaea;
}

.label-numbers span {
    display: inline-block;
    padding: 0.3em;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    background-color: #50514f;
    width: 1.2em;
    border-radius: 1em;
}
